# {{ element_name }}

**Type:** Class
**Module:** `{{ module }}`
{% if source_file %}**Source:** {{ source_file }}{% if line_number %}:{{ line_number }}{% endif %}{% endif %}

## Overview

{{ docstring_sections.get('description', docstring) or 'TODO: Add class description' }}

## Class Signature

```python
class {{ element_name }}{% if base_classes %}({{ base_classes | join(', ') }}){% endif %}:
    ...
```

{% if docstring_sections.get('args') %}
## Parameters

{{ docstring_sections.args }}
{% endif %}

{% if methods %}
## Methods

{% for method_name, method_data in methods.items() %}
### {{ method_name }}

{{ method_data.get('docstring', 'TODO: Add method description') }}

{% if method_data.get('signature') %}
```python
{{ method_data.signature }}
```
{% endif %}

{% endfor %}
{% endif %}

{% if properties %}
## Properties

{% for prop_name, prop_data in properties.items() %}
### {{ prop_name }}

{{ prop_data.get('docstring', 'TODO: Add property description') }}

{% endfor %}
{% endif %}

{% if class_methods %}
## Class Methods

{% for method_name, method_data in class_methods.items() %}
### {{ method_name }}

{{ method_data.get('docstring', 'TODO: Add class method description') }}

{% endfor %}
{% endif %}

{% if static_methods %}
## Static Methods

{% for method_name, method_data in static_methods.items() %}
### {{ method_name }}

{{ method_data.get('docstring', 'TODO: Add static method description') }}

{% endfor %}
{% endif %}

## Examples

{{ example_placeholder }}

{% if docstring_sections.get('notes') %}
## Notes

{{ docstring_sections.notes }}
{% endif %}

{% if docstring_sections.get('see_also') %}
## See Also

{{ docstring_sections.see_also }}
{% endif %}

---
*Generated by Ultrathink Documentation System on {{ timestamp }}*
